# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VS Code files
.vscode/

# Logs and database files
*.log
*.sqlite3

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Backup files
*.bak
*.swp
